  .uber {
    background-color: black;
    color: white;
    margin-right: 5px;
    border: none;
    height: 30px;
    width: 100px;
    cursor: pointer;
    transition: opacity 0.15s;
  }

  .uber:hover {
    opacity: 0.8;
  }

  .amazon {
    background-color: rgb(255, 216, 20);
    color: black;
    margin-right: 5px;
    border: none;
    height: 30px;
    width: 200px;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.15s;
  }
  
  .amazon:hover{
    background-color: rgb(211, 176, 0) ;
  }

  .github {
    background-color: rgb(46, 164, 79);
    color: white;
    margin-right: 5px;
    border: none;
    height: 30px;
    width: 100px;
    border-radius: 2px;
    cursor: pointer;
    transition: box-shadow 0.15s;
  }

  .github:hover {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  }

  .bootstrap-getstarted {
    background-color: rgb(121, 82, 179);
    color: white;
    margin-top: 10px;
    margin-right: 5px;
    border: none;
    padding: 7px 20px;
    border-radius: 2px;
    cursor: pointer;
    transition: background-color 0.15s;
  }

  .bootstrap-getstarted:hover {
    background-color: rgb(116, 69, 186);
  }

  .bootstrap-download {
    background-color: white;
    color: rgb(108, 117, 125);
    margin-top: 10px;
    margin-right: 5px;
    border: rgb(108, 117, 125);
    border-style: solid;
    border-width: 1px;
    height: 30px;
    width: 100px;
    border-radius: 2px;
    cursor: pointer;
    transition: background-color 0.15s, color 0.15s;
  }

  .bootstrap-download:hover {
    background-color: rgb(108, 117, 125);
    color: white;
  }

  .apply {
    background-color: rgb(10, 102, 194);
    color: white;
    margin-top: 10px;
    margin-right: 5px;
    border: none;
    height: 30px;
    width: 200px;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.15s;
  }

  .apply:hover {
    background-color: rgb(5, 78, 152);
  }
  
  .save {
    background-color: white;
    color: rgb(10, 102, 194);
    margin-top: 10px;
    margin-right: 5px;
    border: rgb(10, 102, 194);
    border-style: solid;
    border-width: 1px;
    height: 30px;
    width: 100px;
    border-radius: 15px;
    cursor: pointer;
    transition: border-width 0.15s, background-color 0.15s;
  }
  .save:hover {
    border-width: 2px;
    background-color: rgb(222, 222, 222);
  }